<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cal</title>
    

    <style>
        .div_style1 {
            background-color: aquamarine;
            text-align: center;
            width: 300px;
            border-style: solid;
            padding: 10px;
            margin: auto;
        }
    </style>
</head>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<body>
    <div id="app" class="div_style1">
        <input type="text" ref="num1" v-model ="state.num1" style="text-align: center; margin: 5px;">
        <div>+</div>
        <input type="text" ref="num2" v-model ="state.num2" style="text-align: center; margin: 5px;">
        <br>
        <input type="button" name="equl" id="equl" value="=" style="margin: 10px; width: 45px;" @click="doAdd()">
        <div ref="result">{{state.result}}</div>
        <div>{{state.num1}} + {{state.num2}} = {{result}}</div>
    </div>
</body>

<script>
    const { createApp , reactive ,computed} = Vue
    createApp({
        setup(){
            const state = reactive({
                num1: '1',
                num2: '1',
                result: 2
            })
            const result = computed(function(){
                return parseInt(state.num1) + parseInt(state.num2)
            })
            const doAdd = function(){
                state.result = parseInt(state.num1) + parseInt(state.num2)
            }
            return {state , doAdd , result}
        }
    }).mount('#app')
</script>

</html>